/bin				export-ignore
/docs				export-ignore
/test				export-ignore

.rmt.yml			export-ignore
box.json			export-ignore

.travis.yml			export-ignore
build.xml			export-ignore
phpcs.xml			export-ignore
phpdox.xml			export-ignore
phpmd.xml			export-ignore
phpunit.xml.dist	export-ignore
