<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="autoload.php">

    <testsuites>
        <testsuite name="RD Unit test suite">
            <directory suffix="Test.php">./Liip/RD/Tests/Unit</directory>
        </testsuite>
        <testsuite name="RD Functional test suite">
            <directory suffix="Test.php">./Liip/RD/Tests/Functional</directory>
        </testsuite>
    </testsuites>

</phpunit>
